<h1>admin view</h1>

<a href="list-events">see all events</a>

<h3>CREATE LOCATION</h3>

<form action="/admin" method="POST" name="create-location">
    <label for="location">location-name</label>
    <input type="text" name="location">

    <label for="location-description">location-descrition</label>
    <input type="text" name="location-description">

    <label for="location-name">location-name</label>
    <input type="text" name="location-name">

    <label for="location-x">location x coord</label>
    <input type="number" name="location-x">

    <label for="location-y">location y coord</label>
    <input type="number" name="location-y">

    <label for="logo">link to logo of location</label>
    <input type="text" name="logo">

    <label for="nearest-station-name">nearest statio name</label>
    <input type="text" name="nearest-station">

    <label for="nearest-station-distance">nearest statio distance</label>
    <input type="text" name="nearest-station-distance">

    <label for="nearest-station-availableLines">nearest station available Lines</label>
    <input type="text" name="nearest-station-availableLines">

    <button type="submit">create!</button>
</form>


