<h1>admin view</h1>

<a href="list-events">see all events</a>
<a href="create-event">create event</a>

<h3>CREATE LOCATION</h3>

<form action="/admin" method="POST" name="create-location">

    <label for="location">location-name</label>
    <input type="text" name="location">

    <label for="description">location-description</label>
    <input type="text" name="description">

    <label for="locationX">location x coord</label>
    <input type="text" name="locationX">

    <label for="locationY">location y coord</label>
    <input type="text" name="locationY">

    <label for="logo">link to logo of location</label>
    <input type="text" name="logo">

    <label for="nearestStation">nearest statio name</label>
    <input type="text" name="nearestStation">

    <label for="nearestStationDistance">nearest statio distance</label>
    <input type="text" name="nearestStationDistance">

    <label for="nearestStationAvailableLines">nearest station available Lines</label>
    <input type="text" name="nearestStationAvailableLines">

    <button type="submit">create!</button>
</form>


    

