<button  id="goBack">
    <a href="/"> Back to Homepage</a>
</button>
<div>
 <button id="goBack">
    <a href="/profile"> Back to your profile</a>
 </button>
</div>

<div id="createLocation">
  <h2>create location</h2>
</div>

<div id="createLocationForm">
 <form action="/create-location" method="POST" name="create-location">

    <label for="location">location-name</label>
    <input type="text" name="location">

    <label for="description">location-description</label>
        <input type="text" name="description">

        <label for="locationX">Location x coord</label>
        <input type="text" name="locationX">

        <label for="locationY">Location y coord</label>
        <input type="text" name="locationY">

        <label for="logo">Logo URL</label>
        <input type="text" name="logo">

        <label for="nearestStation">Nearest station name</label>
        <input type="text" name="nearestStation">

        <label for="nearestStationDistance">Nearest station distance</label>
        <input type="text" name="nearestStationDistance">

        <label for="nearestStationAvailableLines">Nearest station available Lines</label>
        <input type="text" name="nearestStationAvailableLines">

        <button type="submit">create!</button>
 </form>
</div>