<div id="header"> 
 <div class="nameAndSlogan">
  <h1>map music</h1>
  <h3>simplify clubbing</h3>
 </div>
 <div class="logo">
     <img id="logo1" src="/images/logo.png">  
 </div>
</div>

<div id="buttons">

 <button id="mapButton">
    <a href="/map">map</a>
 </button>
 <button class="button">
    <a href="/sign-up">create an account</a>
 </button>
 <button class="button">
    <a href="/log-in">log into your account</a>
 </button>
 <button class="button">
    <a href="/logout">log out</a>
 </button>
 

</div>