<h1>MapMusic</h1>


<button>
    <a href="/map"> Map</a>
</button>
<button>
    <a href="/sign-up">Create an Account</a>
</button>
<button>
    <a href="/log-in">Log into your account</a>
</button>
<button>
    <a href="/logout">Log out</a>
</button>
<button><a href="/admin">Create Event</a></button>