<h1>mapmusic</h1>

<a href="/map">got to the map</a>
<a href="/sign-up">create a account</a>
<a href="/log-in">log in into your account</a>
<a href="/logout">Log out</a>
<a href="mission">learn more about mapmusic</a>