<div id="header"> 
 <div class="nameAndSlogan">
  <h1>map music</h1>
  <h3>simplify clubbing</h3>
 </div>
 <div id="logo">
     <img id="logo1" src="/images/logo.png">  
 </div>
</div>

<div id="buttons">

 <button id="mapButton">
    <a href="/map"> Map</a>
 </button>
 <button class="button">
    <a href="/sign-up">Create an Account</a>
 </button>
 <button class="button">
    <a href="/log-in">Log into your account</a>
 </button>
 <button class="button">
    <a href="/logout">Log out</a>
 </button>
 <button><a href="/admin">Create Event</a></button>

</div>