<h2>Log-in</h2>

<form action="/log-in" method="POST">
    <input type="text" name="username" id="username">
    <input type="password" name="password" id="password">
    <button type="submit">log in</button>
</form>

<button>
    <a href="/"> Back to Homepage</a>
</button>

{{#if message}}
<p style="color: red">{{message}}</p>
{{/if}}