<button  id="goBack">
    <a href="/"> Back to Homepage</a>
</button>

<div id="filterButtonsContainer">
   <div id="filterButtons">  
     <button type="button" id="one" class="activeDate">1</button>
     <button type="button" id="two" class="inactiveDate">2</button>
     <button type="button" id="three" class="inactiveDate">3</button>
     <button type="button" id="four" class="inactiveDate">4</button>
     <button type="button" id="five" class="inactiveDate">5</button>
     <button type="button" id="six" class="inactiveDate">6</button>
     <button type="button" id="seven" class="inactiveDate">7</button>
   </div>
</div>  
{{!-- <button>Open Filterbar</button> --}}

<div id='map' style='width: 1000px; height: 600px;'></div>

