<button id="goBack">
    <a href="/"> Back to Homepage</a>
</button>

<div id="username">
    <h1>Hello {{user.username}} 👋</h1>
</div>

<div id="profileButtons">
    <button>
        <a href="/map">Map</a>
    </button>

    <button>
        <a href="/list-events">View events</a>
    </button>

    <button>
        <a href="/list-locations">View locations</a>
    </button>

    <button>
        <a href="/create-event">Create an event</a>
    </button>

    <button>
        <a href="/create-location">Create a location</a>
    </button>
</div>