<button id="goBack">
    <a href="/"> Back to Homepage</a>
</button>

<div id="username">
    <h1>Hello {{user.username}} 👋</h1>
</div>

<div id="profileButtons">
    <button>
        <a href="/map">map</a>
    </button>
    
    <button>
        <a href="/list-events">see all events</a>
    </button>

    <button>
        <a href="/list-locations">see all locations</a>
    </button>

    <button>
        <a href="/create-event">create a event</a>
    </button>

    <button>
        <a href="/create-location">create a location</a>
    </button>
</div>