<button id="goBack">
    <a href="/"> Back to Homepage</a>
</button>

<div id="signUp">
    <h2>Sign up</h2>
</div>

<form id="signUp" action="/sign-up" method="POST">
    <input type="text" name="username" id="Username" placeholder="type in username">
    <input type="password" name="password" id="password" placeholder="type in password">
    <input type="email" name="email" id="email" placeholder="type in your e-mail">
    <input type="email" name="emailRepetition" id="emailRepetition" placeholder="repeate your email">
    <button type="submit">create account</button>
</form>


<div id="message">
    {{#if message}}
    <p>{{message}}</p>
    {{/if}}
</div>