body {
  padding: 50px;
  font: 14px "Futura", Helvetica, Arial, sans-serif;
  background-color: #272727;
}

h2 {
  color: #a48beb;
  font-size: 44px;
} 

#header > div.nameAndSlogan > h3{
  color : #fff; 
  font-size : 25px
}

#header > div.nameAndSlogan > h1{
  color : #a48beb;
  font-size : 75px 
}

#header > div.nameAndSlogan{
  height:150px;
  margin-top: -100px;
}

#header > div.logo {
  margin-top: 100px;
}
a {
  color: #fff;
  font: "Futura", Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-decoration-line: none;

}

#signUp {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#header {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#buttons {
  margin-top: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#buttons > button {
  width: 250px;
  height : 50px;
  background-color : #a48beb;
  -moz-text: #fff;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  outline-style: none;

}

#buttons > button:hover{
  color:#a48beb
}

#buttons > button > a{
  font-family: "futura";
}
#signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#signUp > input {
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 25px;
  font-family: "futura";
  width: 250px;
  height : 50px;
  font-size: large;
}

#signUp > button {
  margin-top: 25px;
  width: 250px;
  height : 50px; 
  background-color : #a48beb;
  color: #fff;
  border-radius: 25px;
  text-decoration: #fff;
  font-family: "Futura";
  font-weight: 800;
}

::-webkit-input-placeholder {
  text-align: center;
}

#signUp > button:hover{
  color:#a48beb
}



#message > p {
  color: #a48beb;
  margin-left:200px;
  margin-top: 50px
}


#goBack {
  margin-top: 25px;
  width: 200px;
  height : 50px; 
  background-color : #a48beb;
  color: #fff;
  border-radius: 25px;
  text-decoration: #fff;
  font-family: "Futura";
  font-weight: 800;
}

#logIn{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logInForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#logInForm > input {
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 25px;
  font-family: "futura";
  width: 250px;
  height : 50px;
  font-size: large;
}

#logInForm > button {
  margin-top: 25px;
  width: 250px;
  height : 50px; 
  background-color : #a48beb;
  border-radius: 25px;
  text-decoration: #fff;
  font-family: "Futura";
  font-weight: 800;
}

#filterButtonsContainer{
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-left: 375px;
}

#filterButtons{
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  margin-top: -50px;
}
#filterButtons > button{
  width: 75px;
  height : 50px;
  background-color : #a48beb;
  color: #fff;
  font-family: "Futura";
  font-weight: 600;
  border-radius: 20px;
  margin-left: 7.5px;
  margin-right: 7.5px

}

#map{
  margin-left: 150px
}

#createEventForm > form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}


#createEventForm > form > input[type=text] {
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 25px;
  font-family: "futura";
  width: 250px;
  height : 50px;
  font-size: large;
}



#createEventForm > form > input[type=number] {
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 25px;
  font-family: "futura";
  width: 250px;
  height : 50px;
  font-size: large;
}

#createEventForm > form > button {
  width: 75px;
  height : 50px;
  background-color : #a48beb;
  color: #fff;
  font-family: "Futura";
  font-weight: 600;
  border-radius: 20px;
  margin-top: 25px
}

#createLocationForm > form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

#createLocationForm > form > input[type=text] {
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 25px;
  font-family: "futura";
  width: 250px;
  height : 50px;
  font-size: large;
}

#createLocationForm > form > input[type=number] {
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 25px;
  font-family: "futura";
  width: 250px;
  height : 50px;
  font-size: large;
}

#createLocationForm > form > button {
  width: 75px;
  height : 50px;
  background-color : #a48beb;
  color: #fff;
  font-family: "Futura";
  font-weight: 600;
  border-radius: 20px;
  margin-top: 25px
}


#profileButtons > button {
  margin-top: 50px;
  width: 250px;
  height : 50px; 
  background-color : #a48beb;
  color: #fff;
  border-radius: 25px;
  text-decoration: #fff;
  font-family: "Futura";
  font-weight: 800;
}

#username{
  color: #fff;
  font-size: 44px;
}

h3 {
  color: #a48beb;
  font-family: "futura";
  font-size:large
}

#listEvents{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff
}


#listEventsButtons{
  display : flex; 
  flex-direction: column;
  margin-top: 25px;
}

#listEventsButtons > button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
  height : 50px; 
  background-color : #a48beb;
  color: #fff;
  border-radius: 25px;
  text-decoration: #fff;
  font-family: "Futura";
  font-weight: 800;
}


.mapbox-popup{
  color: black;
  background-color: black;
  border-radius: 5%;
  font: 14px “Futura”, Helvetica, Arial, sans-serif;
}
.mapbox-popup h4{
  text-shadow: grey;
  text-align: center;
}


.mapbox-popup div{

  background-color:rgb(130, 130, 130);
}
